.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
dist/stage/
dist/deb/
dist/*.tar.gz
dist/*.deb
dist/SHA256SUMS
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
